<div class="row my-5">
    <div class="container">
    <div class="profile-container d-flex justify-content-center">
    <img src="images/projects/profile-picture.png" alt="Profile Picture" class="profile-picture">
    </div>
      <div id="about">
        <h2>About</h2>
        <p>Hello! I'm Lili.</p>
        <p></p>
        <div class="description">
        <p>AAAAAAaaaaaaaaaaaaAAAAAaaaaaaaaaaaaAAAAAaaaaaaaaaaaaAAAAAaaaaaaaaaaaa</p>
      </div>
    </div>
  </div>
</div>
