  <div class="about-row">
    <div class="about">
      <p>"HEy"</p>
    </div>
    <div class="pfp">
      <img src="images/projects/profile.png" alt="Profile Picture" class="profile-picture col-6">
      </div>
  </div>
