  <div class="about-row">
    <div class="about-container">
      <h1 class="about-heading">Hey, I'm Lili!</h3>
      <p>Thank you for checking out my page! Infinite pickles ponder within a twisted dream,
Where quantum bagels bask in a chocolate stream.
Dimensions merge, creating tangled strings,
As abstract llamas play on quantum swings.

The timeless jellyfish croons a cryptic song,
While mathematical squirrels hum along.
Reality's donut turns inside-out with glee,
In a kaleidoscopic circus for the bewildered bee.

A platypus juggles paradoxes in the moonlight's glow,
While existential toast contemplates its crispy woe.
Unicorn philosophers discuss the meaning of cheese,
As the enigmatic cheese wheel whispers mysteries.
      </p>
      <div class="d-flex justify-content-center">
      <button class="button-findoutmore">
        Explore
      </button>
      </div>
    </div>
    <div class="pfp">
      <img src="images/projects/profile.png" alt="Profile Picture" class="profile-picture col-6">
      </div>
  </div>
