<nav class="navbar">
<div class="container ">
<div class="d-flex justify-content-start">
    <a href="#home">Home</a>
    </div>
  <a href="#about">About Me</a>
  <a href="#projects">Projects</a>
  <a href="#contact">Contact</a>
  </div>
</div>
</nav>
