<div class="navbar d-flex justify-content-center fixed-top">
  <div class=>
    <a href="#home" id="home">Home</a>
    <a href="#about">About</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
  </div>
</div>
