.banner {
  height: 100vh;

}

.about-row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Horizontally center the items */
  align-items: center; /* Vertically center the items */
  }/* Set the parent container to relative positioning */


.about {
  position: relative;
  font-family: $main-font;
  color: white;
  margin-top: 150px;
}
