.navbar {
  // position: fixed;
  height: 100px;
  top: 0;
  background-color: $navbar-cream;
  left: 0;
  width: 100%;
  z-index: 100;
  flex-grow: 0;
  /* Add other styles as needed */
}

.navbar a {
  font-family: $main-font;
  color: #053f85;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  margin-left: 20px;
  margin-right: 20px;
}


.profile-picture {
  margin-top: 150px;
  padding: 0px;
  height: 500px;
  width: auto; /* Allow the width to adjust while maintaining the aspect ratio */
  border-radius: 60px;
}
