// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #053f85;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;
$background-orange: #FFCC68;
$navbar-cream: #f4f8e3;
$cool-red: rgb(226, 76, 76);
